* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url(background-pic.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
nav {
    position: absolute;
    width: 100%;
    padding: 15px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    width: 120px;
}
nav ul li {
    margin: 5px 25px;
    list-style: none;
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    /* -webkit-text-stroke: 1px white; */
    color: transparent;
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 2s linear infinite alternate;
}

@keyframes backcolor {
    100%{
        background-position: 0 0;
    }
}
@media screen and (max-width : 700px) {
    .title{
        font-size: 80px;
    }
}